[submodule "ehdokas-ja-tulostiedot"]
	path = ehdokas-ja-tulostiedot
	url = git://github.com/avoindata/datavaalit-ehdokas-ja-tulostiedot.git
[submodule "kuntatalous"]
	path = kuntatalous
	url = git://github.com/avoindata/datavaalit-kuntatalous.git
[submodule "vaalikoneet"]
	path = vaalikoneet
	url = git://github.com/avoindata/datavaalit-vaalikoneet.git
[submodule "luottamushenkilot"]
	path = luottamushenkilot
	url = git://github.com/avoindata/datavaalit-luottamushenkilot.git
[submodule "kuntatietoja"]
	path = kuntatietoja
	url = git://github.com/avoindata/datavaalit-kuntatietoja.git
